@@include('../Shared/header.html', {
        "style": [
            "assets/css/Pages/detail-articles.css"
        ]
})

<div class="detail-articles">
    <section class="big-hero-image">
        <div class="container">
            <div class="title-article">
                <strong>Laporan Khusus 3 Tahun Jokowi-JK</strong>
                <h1>
                    Penuh Pencapaian, tetapi juga Penuh Tantangan
                </h1>
                <p>
                    Pemerintahan Indonesia hasil Pemilihan Umum 2014 yang dipimpin oleh Presiden Joko "Jokowi" Widodo dan Wakil Presiden Jusuf Kalla, hari ini, 20 Oktober, genap berusia tiga tahun. Ada banyak hal yang harus diperbaiki. Namun demikian, sejumlah prestasi juga telah ditorehkan. 
                </p>
            </div>
        </div>
        <img src="assets/images/hero-images/big-image2.jpg" alt="">
    </section>
    <div class="tracker text-center">
        <ul class="sosmed-share">
            <li>
                <a href="https://twitter.com/katadatanews" target="_blank">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="http://facebook.com/katadatanews" target="_blank">
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="https://plus.google.com/+KatadataId" target="_blank">
                <i class="fa fa-google-plus" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
        <span>Dibaca</span>
        <h2>20.2K</h2>
    </div>
    <section class="read-article">
        <div class="container">
            <div class="fotoProfile">
                <figure>
                    <img src="assets/images/thumbnails/menteri1.png" alt="">
                </figure>
                <h3>Arcandra Tahar Contoh Nama</h3>
                <p>Wakil Menteri ESDM</p>
            </div>
            <div class="boxArtikelLainnya hidden-xs">
                <ul class="mnuArtikel">
                    <li class="artikelLainnya">Daftar Artikel</li>
                    <li><a href="">Pertaruhan Jokowi di Proyek Infrastruktur</a></li>
                    <li><a href="">Ngebut di Darat</a></li>
                    <li><a href="">Artikel Ketiga</a></li>
                    <li><a href="">Mimpi Besar Bangun Infrastruktur</a></li>
                    <li><a href="">Mimpi Besar Bangun Infrastruktur</a></li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <time>RABU, 11/10/2017, 23.00 WIB</time>
                    <p>
                        Ada olok-olok menyangkut perizinan yang selalu menjadi masalah usaha di Indonesia. “Kalau bisa sulit, kenapa dipermudah?" Pola pikir seperti ini sedang diberantas di sektor hulu minyak dan gas bumi lewat penyederhanaan izin dan koordinasi antarkementerian dan instansi pemerintah.
                    </p>
                    <p>
                        Survei kemudahan berusaha (Ease of Doing Business/EoDB) 2017 menempatkan Indonesia di peringkat 91, naik dari posisi sebelumnya di 106. Namun, capaian itu masih jauh di bawah peringkat negara tetangga, seperti Malaysia, yang berada di posisi 23. Salah satu masalah utamanya adalah soal perizinan. 
                    </p>
                    <p>
                        Persoalan ini juga dihadapi sektor hulu migas. Didik S. Setyadi dalam pengantar bukunya yang bertajuk “Politik Hukum dan Dinamika Penerapan Hak Menguasai Negara atas Sumber Daya Alam dan Minyak Bumi” (2017) menyebutkan bahwa perizinan adalah salah satu inefisiensi paling nyata di sektor hulu migas.
                    </p>
                    <p>
                        Perizinan ini juga salah satu potensi masalah untuk merealisasikan komitmen pengeboran eksplorasi. Pada 2015 ada 41 kegiatan pengeboran migas terhambat karena lamanya waktu perizinan dan pengadaan lahan. Bahkan, proses penyiapan pengurusan izin bisa memakan waktu lebih panjang ketimbang masa konstruksi yang waktu pengerjaannya 2-3 tahun.
                    </p>
                </div>
                <div class="col-md-12">
                    <figure>
                        <img src="assets/images/full-width.jpg" alt="">
                    </figure>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <p>
                        Mengacu Peraturan Menteri Energi dan Sumber Daya Mineral (ESDM) Nomor 29 tahun 2017, perizinan di hulu migas hanya ada dua, yakni izin survei  dan izin pemanfaatan data migas. Namun, menurut Didik yang juga sebagai Kepala Divisi Formalitas SKK Migas, izin tersebut hanya untuk pra-kegiatan eksplorasi.
                    </p>
                    <div class="quotes">
                        <p>
                            Ada juga 11 perizinan di Kementerian Komunikasi dan Informatika. Kemudian masing-masing 4 perizinan di Kementerian Pertahanan dan Kementerian Hukum dan HAM
                        </p>
                    </div>
                    <p>
                        Perizinan tersebut terbagi menjadi empat fase. Fase survei dan eksplorasi memiliki 117 perizinan, fase pengembangan dan konstruksi memuat 137 perizinan, fase produksi terdiri atas 109 perizinan dan fase pascaoperasi mencakup 10 perizinan. Bukan hanya di Kementerian ESDM, 373 perizinan itu juga menjangkau 18 kementerian atau lembaga lainnya. Perinciannya, ada 74 perizinan di lingkungan Kementerian ESDM, 16 perizinan berada di Kementerian Keuangan, 36
                    </p>
                    <p>
                        Kementerian Perhubungan, 3 perizinan di Kementerian Perindustrian, 11 perizinan berada di lingkungan Kementerian Perdagangan, dan 16 pengurusan perizinan pada Kementerian Ketenagakerjaan.
                    </p>
                    <p>
                        Ada juga 11 perizinan di Kementerian Kementerian Komunikasi dan Informatika. Kemudian masing-masing 4 perizinan di Kementerian Pertahanan dan Kementerian Hukum dan HAM, dan 2 perizinan di Kementerian Pekerjaan Umum dan Perumahan Rakyat.
                    </p>
                    <p>
                        Ada pula, 9 perizinan di TNI Angkatan Laut, 19 perizinan di Kepolisian, 3 perizinan di Badan Pertanahan Nasional, sebanyak 29 perizinan di tingkat Pemerintah Provinsi, 53 perizinan di Pemerintah Daerah, 3 perizinan pada Badan Pengawas Tenaga Nuklir, 2 perizinan di Kementerian Kelautan dan Perikanan dan dua izin pada swasta sebagai pemilik IUPHK (Izin Usaha Pemanfaatan Hasil Hutan Kayu).
                    </p>
                </div>
                <div class="col-md-6">
                    <figure>
                        <img src="assets/images/half-width.jpg" alt="">
                        <figcaption>
                            Perizinan tersebut terbagi menjadi empat fase. Fase survei dan eksplorasi memiliki 117 perizinan, fase pengembangan dan konstruksi memuat 137 perizinan, fase produksi terdiri atas 109 perizinan dan fase pascaoperasi mencakup 10 perizinan.     
                        </figcaption>  
                    </figure>
                </div>
                <div class="col-md-6">
                    <figure>
                        <img src="assets/images/half-width.jpg" alt="">
                        <figcaption>
                            Perizinan tersebut terbagi menjadi empat fase. Fase survei dan eksplorasi memiliki 117 perizinan, fase pengembangan dan konstruksi memuat 137 perizinan, fase produksi terdiri atas 109 perizinan dan fase pascaoperasi mencakup 10 perizinan.     
                        </figcaption>
                    </figure>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <p>
                        Ada juga 11 perizinan di Kementerian Kementerian Komunikasi dan InformatikaKemudian masing-masing 4 perizinan di Kementerian Pertahanan dan Kementerian Hukum dan HAM, dan 2 perizinan di Kementerian Pekerjaan Umum dan Perumahan Rakyat.
                    </p>
                    <p>
                        Ada juga 11 perizinan di Kementerian Kementerian Komunikasi dan InformatikaKemudian masing-masing 4 perizinan di Kementerian Pertahanan dan Kementerian Hukum dan HAM, dan 2 perizinan di Kementerian Pekerjaan Umum dan Perumahan Rakyat.
                    </p>
                    <figure>
                        <img src="assets/images/half-width.jpg" alt="">
                        <figcaption>
                            Perizinan tersebut terbagi menjadi empat fase. Fase survei dan eksplorasi memiliki 117 perizinan, fase pengembangan dan konstruksi memuat 137 perizinan, fase produksi terdiri atas 109 perizinan dan fase pascaoperasi mencakup 10 perizinan.     
                        </figcaption>
                    </figure>
                    <p>
                        Ada juga 11 perizinan di Kementerian Kementerian Komunikasi dan InformatikaKemudian masing-masing 4 perizinan di Kementerian Pertahanan dan Kementerian Hukum dan HAM, dan 2 perizinan di Kementerian Pekerjaan Umum dan Perumahan Rakyat.
                    </p>
                    <p>
                        Ada juga 11 perizinan di Kementerian Kementerian Komunikasi dan InformatikaKemudian masing-masing 4 perizinan di Kementerian Pertahanan dan Kementerian Hukum dan HAM, dan 2 perizinan di Kementerian Pekerjaan Umum dan Perumahan Rakyat.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="redaksi">
        <div class="container">
            <div class="row">
                <div class="col-md-2 margin-bottom-20">
                    <h4>Koordinator</h4>
                    <ul class="margin-bottom-20">
                        <li>Pingit Aria</li>
                    </ul>
                    <h4>Editor</h4>
                    <ul>
                        <li>Metta Dharmasaputra</li>
                    </ul>
                </div>
                <div class="col-md-2 margin-bottom-20">
                    <h4>Penulis</h4>
                    <ul>
                        <li>Metta Dharmasaputra</li>
                        <li>Pingit Aria Mutiara Fajrin</li>
                        <li>Safrezi Fitra</li>
                        <li>Nazmi Haddyat Tamara</li>
                        <li>Ameidyo Nasution</li>
                        <li>Yura Syahrul</li>
                        <li>Arnold Sirait</li>
                        <li>Padjar Iswara</li>
                  </ul>
                </div>
                <div class="col-md-2 margin-bottom-20">
                    <h4>Periset</h4>
                    <ul>
                        <li>Aria Wiratma</li>
                        <li>Pepri Saputra</li>
                        <li>Kusnandar</li>
                    </ul>
                </div>
                <div class="col-md-2 margin-bottom-20">
                    <h4>Video/Foto</h4>
                    <ul>
                      <li>Donang Wahyu</li>
                      <li>Arif Kamaludin</li>
                    </ul>
                </div>
                <div class="col-md-2 margin-bottom-20">
                    <h4>Desain/Grafis</h4>
                    <ul>
                        <li>Lambok E. Hutabarat</li>
                        <li>Ade Rahmat Hidayat</li>
                        <li>Firman Firdaus</li>
                      </ul>
                </div>
                <div class="col-md-2 margin-bottom-20">
                    <h4>Programmer</h4>
                    <ul>
                        <li>Arif Firmansyah</li>
                        <li>Bayu Mahdani</li>
                        <li>Ricky A. Titaley</li>
                      </ul>
                </div>
              </div>
            </div>
          </section>
</div>
<div class="boxArtikelLainnyaFooter visible-xs">
    <ul>
        <li class="artikelLainnya">Daftar Artikel</li>
        <li><a href="">Pertaruhan Jokowi di Proyek Infrastruktur</a></li>
        <li><a href="">Ngebut di Darat</a></li>
        <li><a href="">Artikel Ketiga</a></li>
        <li><a href="">Mimpi Besar Bangun Infrastruktur</a></li>
        <li><a href="">Mimpi Besar Bangun Infrastruktur</a></li>
    </ul>
</div>

@@include('../Shared/footer.html')