@@include('../Shared/header.html', { "style": [ "assets/css/Pages/homepage.css" ] })
<div class="homepage">
  <section class="big-hero">
    <div class="row no-gap">
      <div class="col-md-12">
        <strong>Laporan Khusus 3 Tahun Jokowi-JK</strong>
        <div class="banner-title">
          <h1>Jalan Terjal<br/>Proyek Infrastruktur</h1>
          <p>Tiga tahun sudah Jokowi-JK menakhodai negeri ini. Pembangunan ratusan proyek infrastruktur dikebut demi mengejar ketertinggalan. Risiko yang tak kecil, di tengah berbagai keterbatasan dan hambatan. Laporan khusus Katadata mencoba memotretnya.</p>
          <ul class="sosmed-share visible-xs">
            <li>
                <a href="https://twitter.com/katadatanews" target="_blank">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="http://facebook.com/katadatanews" target="_blank">
                  <i class="fa fa-facebook-official" aria-hidden="true"></i>
                </a>
            </li>
            <li>
              <a href="https://plus.google.com/+KatadataId" target="_blank">
                <i class="fa fa-google-plus" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="multimedia">
    <div class="container">
      <div class="row margin-bottom-50">
        <article>
          <div class="col-md-2">
            <h3>
              <span>Multimedia</span>
            </h3>
          </div>
          <div class="col-md-10">
            <div class="videoKD">
              <!-- <img src="assets/images/video-multimedia.jpg" alt=""> -->
              <iframe src="https://www.youtube.com/embed/CGQ8mW8AfOs?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </article>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
          <div class="slideNext button">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </div>
          <div class="slidePrev button">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </div>
          <div class="videoSlides">
            <div>
              <figure>
                <i class="fa fa-picture-o" aria-hidden="true"></i>
                <img src="assets/images/pembangunan.jpg" alt="">
              </figure>
              <h4>
                <a href="">Di Acara KADIN, Jokowi Bicara Lepas dan Panjang</a>
              </h4>
            </div>
            <div>
              <figure>
                <i class="fa fa-picture-o" aria-hidden="true"></i>
                <img src="assets/images/flyover.jpg" alt="">
              </figure>
              <h4>
                <a href="">Di Acara KADIN, Jokowi Bicara Lepas dan Panjang</a>
              </h4>
            </div>
            <div>
              <figure>
                <i class="fa fa-picture-o" aria-hidden="true"></i>
                <img src="assets/images/pembangunan.jpg" alt="">
              </figure>
              <h4>
                <a href="">Di Acara KADIN, Jokowi Bicara Lepas dan Panjang</a>
              </h4>
            </div>
            <div>
              <figure>
                <i class="fa fa-picture-o" aria-hidden="true"></i>
                <img src="assets/images/flyover.jpg" alt="">
              </figure>
              <h4>
                <a href="">Di Acara KADIN, Jokowi Bicara Lepas dan Panjang</a>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="artikel black">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <h3>
            <span>Artikel Utama</span>
          </h3>
        </div>
        <article>
          <div class="col-md-3">
            <figure>
              <img src="assets/images/artikel-img/jokowi-sby.jpg" alt="">
            </figure>
            <h4>
              <a href="">Ini 3 Tantangan Utama Pemerintah versi Partai Demokrat</a>
            </h4>
          </div>
          <div class="col-md-3">
            <figure>
              <img src="assets/images/artikel-img/jokowi-jk.jpg" alt="">
            </figure>
            <h4>
              <a href="">Di Acara KADIN, Jokowi Bicara Lepas dan Panjang</a>
            </h4>
          </div>
          <div class="col-md-3">
            <figure>
              <img src="assets/images/artikel-img/jokowi.jpg" alt="">
            </figure>
            <h4>
              <a href="">Jokowi Yakinkan Pengusaha, Perekonomian Sudah ke Arah Benar</a>
            </h4>
          </div>
        </article>
      </div>
      <div class="row">
        <div class="col-md-2">
          <!-- <h3>
            <span>Artikel Utama</span>
          </h3> -->
        </div>
        <article>
          <div class="col-md-3">
            <figure>
              <img src="assets/images/artikel-img/jokowi-sby.jpg" alt="">
            </figure>
            <h4>
              <a href="">Ini 3 Tantangan Utama Pemerintah versi Partai Demokrat</a>
            </h4>
          </div>
          <div class="col-md-3">
            <figure>
              <img src="assets/images/artikel-img/jokowi-jk.jpg" alt="">
            </figure>
            <h4>
              <a href="">Di Acara KADIN, Jokowi Bicara Lepas dan Panjang</a>
            </h4>
          </div>
          <div class="col-md-3">
            <figure>
              <img src="assets/images/artikel-img/jokowi.jpg" alt="">
            </figure>
            <h4>
              <a href="">Jokowi Yakinkan Pengusaha, Perekonomian Sudah ke Arah Benar</a>
            </h4>
          </div>
        </article>
      </div>
    </div>
  </section>
  <section class="artikel black">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <h3>
            <span>Artikel Utama</span>
          </h3>
        </div>
        <article>
          <div class="col-md-4">
            <figure>
              <img src="assets/images/artikel-img/jokowi-sby.jpg" alt="">
            </figure>
            <h4>
              <a href="">Ini 3 Tantangan Utama Pemerintah versi Partai Demokrat</a>
            </h4>
          </div>
          <div class="col-md-3">
            <figure>
              <img src="assets/images/artikel-img/jokowi-jk.jpg" alt="">
            </figure>
            <h4>
              <a href="">Di Acara KADIN, Jokowi Bicara Lepas dan Panjang</a>
            </h4>
          </div>
          <div class="col-md-3">
            <figure>
              <img src="assets/images/artikel-img/jokowi.jpg" alt="">
            </figure>
            <h4>
              <a href="">Jokowi Yakinkan Pengusaha, Perekonomian Sudah ke Arah Benar</a>
            </h4>
          </div>
        </article>
      </div>
    </div>
  </section>
  <!-- <section class="opini">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <h3><span>Wawancara dan Opini</span></h3>
        </div>
        <div class="col-md-10">
          <ul>
            <li>
              <figure>
                <img src="assets/images/thumbnails/jokowi.png" alt="">
              </figure>
              <h4>
                <a href="">
                    Joko Widodo: <br/>Tantangan ke Depan Semakin Berat
                </a>
              </h4>
            </li>
            <li>
              <figure>
                <img src="assets/images/thumbnails/jk.png" alt="">
              </figure>
              <h4>
                <a href="">
                    Jusuf Kalla:  <br/>Ekonomi Indonesia Mau Dibawa ke Mana? 
                </a>
              </h4>
            </li>
            <li>
              <figure>
                <img src="assets/images/thumbnails/menteri1.png" alt="">
              </figure>
              <h4>
                <a href="">
                    Prasetyantoko: <br/>Tantangan ke Depan Semakin Berat
                </a>
              </h4>
            </li>
            <li>
              <figure>
                <img src="assets/images/thumbnails/menteri2.png" alt="">
              </figure>
              <h4>
                <a href="">
                  Anton Gunawan:  <br/>Ekonomi Indonesia Mau Dibawa ke Mana? 
                </a>
              </h4>
            </li>
            <li>
              <figure>
                <img src="assets/images/thumbnails/foto1.png" alt="">
              </figure>
              <h4>
                <a href="">
                  Anton Gunawan:  <br/>Ekonomi Indonesia Mau Dibawa ke Mana? 
                </a>
              </h4>
            </li>
            <li>
              <figure>
                <img src="assets/images/thumbnails/foto2.png" alt="">
              </figure>
              <h4>
                <a href="">
                  Anton Gunawan:  <br/>Ekonomi Indonesia Mau Dibawa ke Mana? 
                </a>
              </h4>
            </li>
            <li>
              <figure>
                <img src="assets/images/thumbnails/foto3.png" alt="">
              </figure>
              <h4>
                <a href="">
                  Anton Gunawan:  <br/>Ekonomi Indonesia Mau Dibawa ke Mana? 
                </a>
              </h4>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section> -->
  <section class="infografik biru">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
            <h3><span>Infografik dan Analisis Data</span></h3>
        </div>
        <div class="col-md-10 grs_bts_bottom">
          <div class="sliderNext button">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </div>
          
          <div class="sliderPrev button">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </div>
          <div class="infoSlider">
            <div>
              <img src="assets/images/infograph/infograph1.jpg" alt="">
            </div>
            <div>
              <img src="assets/images/infograph/infograph2.jpg" alt="">
            </div>
            <div>
              <img src="assets/images/infograph/infograph1.jpg" alt="">
            </div>
            <div>
              <img src="assets/images/infograph/infograph2.jpg" alt="">
            </div>
            <div>
              <img src="assets/images/infograph/infograph1.jpg" alt="">
            </div>
            <div>
              <img src="assets/images/infograph/infograph2.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
      
      <div class="row margin-bottom-20">
        <article>
          <div class="col-md-2">
          </div>
          
          <div class="col-md-5">
            <figure>
              <img src="assets/images/analisis/img1.jpg" alt="">
            </figure>
            <h4><a href="">Profesi Apa Paling Banyak Diciduk KPK?</a></h4>
            <!-- <span class="writer">Nazmi Hidayat Tamara</span> -->
          </div>
          <div class="col-md-5">
            <figure>
                <img src="assets/images/analisis/img2.jpg" alt="">
            </figure>
            <h4><a href="">Jokowi Yakinkan Pengusaha, Perekonomian Sudah ke Arah Benar</a></h4>
            <!-- <span class="writer">Rasyid Ridha</span> -->
          </div>
        </article>
      </div>
    </div>
  </section>
  <!-- <section class="analisis black">
    <div class="container">
      <div class="row">
        <article>
          <div class="col-md-2">
            <h3><span>Analisis Data</span></h3>
          </div>
          <div class="col-md-4">
            <h2>
              <a href="">
                “Ketersediaan data kelautan dan perikanan yang andal sangatlah penting untuk mengambil kebijakan yang tepat sasaran.”
              </a>
            </h2>
            <span class="writer">Adek Media Roza</span>
          </div>
          <div class="col-md-3">
            <figure>
              <img src="assets/images/analisis/img1.jpg" alt="">
            </figure>
            <h4><a href="">Profesi Apa Paling Banyak Diciduk KPK?</a></h4>
            <span class="writer">Nazmi Hidayat Tamara</span>
          </div>
          <div class="col-md-3">
            <figure>
                <img src="assets/images/analisis/img2.jpg" alt="">
            </figure>
            <h4><a href="">Jokowi Yakinkan Pengusaha, Perekonomian Sudah ke Arah Benar</a></h4>
            <span class="writer">Rasyid Ridha</span>
          </div>
        </article>
      </div>
    </div>
  </section> -->
  
  <section class="databoks abu-light">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <h3><span>Databoks</span></h3>
        </div>
        <div class="col-md-10">
          <div class="databoksNext button">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </div>
              
          <div class="databoksPrev button">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </div>
          <div class="databoksSlides">
            <div>
              <img src="assets/images/databoks/chart1.jpg" alt="">
              <h4><a href="">Di Acara KADIN, Jokowi Bicara Lepas dan Panjang</a></h4>
            </div>
            <div>
              <img src="assets/images/databoks/chart2.jpg" alt="">
              <h4><a href="">Di Acara KADIN, Jokowi Bicara Lepas dan Panjang</a></h4>
            </div>
            <div>
              <img src="assets/images/databoks/chart3.jpg" alt="">
              <h4><a href="">Di Acara KADIN, Jokowi Bicara Lepas dan Panjang</a></h4>
            </div>
            <div>
              <img src="assets/images/databoks/chart4.jpg" alt="">
              <h4><a href="">Di Acara KADIN, Jokowi Bicara Lepas dan Panjang</a></h4>
            </div>
            <div>
              <img src="assets/images/databoks/chart2.jpg" alt="">
              <h4><a href="">Di Acara KADIN, Jokowi Bicara Lepas dan Panjang</a></h4>
            </div>
            <div>
              <img src="assets/images/databoks/chart3.jpg" alt="">
              <h4><a href="">Di Acara KADIN, Jokowi Bicara Lepas dan Panjang</a></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="artikel-lainnya">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <h3><span>Artikel Lainnya</span></h3>
        </div>
        
          <div class="col-md-10">
              <div class="artikelNext button">
                  <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </div>
                
                <div class="artikelPrev button">
                  <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </div>
            <div class="artikel-slides">
              <div class="artikelItem">
                <figure>
                  <img src="assets/images/artikel-img/jokowi-sby.jpg" alt="">
                </figure>
                <h4><a href="">Ini 3 Tantangan Utama Pemerintah Demokrat</a></h4>
              </div>
              <div class="artikelItem">
                <figure>
                  <img src="assets/images/artikel-img/jokowi.jpg" alt="">
                </figure>
                <h4><a href="">Ini 3 Tantangan Utama Pemerintah versi Partai Demokrat Ini 3 Tantangan</a></h4>
              </div>
              <div class="artikelItem">
                <figure>
                  <img src="assets/images/artikel-img/jokowi-jk.jpg" alt="">
                </figure>
                <h4><a href="">Ini 3 Tantangan Utama Pemerintah versi Partai Demokrat</a></h4>
              </div>
              <div class="artikelItem">
                <figure>
                  <img src="assets/images/artikel-img/jokowi.jpg" alt="">
                </figure>
                <h4><a href="">Ini 3 Tantangan Utama Pemerintah versi Partai Demokrat</a></h4>
              </div>
              <div class="artikelItem">
                <figure>
                  <img src="assets/images/artikel-img/jokowi-sby.jpg" alt="">
                </figure>
                <h4><a href="">Ini 3 Tantangan Utama Pemerintah versi Partai Demokrat</a></h4>
              </div>
            </div>
          </div>
        
      </div>
    </div>
  </section>
  
  <!-- <section class="sponsor abu">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <h3><span>Sponsored Articles</span></h3>
          <p>Didukung Oleh</p>
          <div class="circle"></div>
        </div>
        <div class="col-md-2">
          <h4><a href="">Pendidikan Vokasional Upaya Tingkatkan Daya Saing</a></h4>
          <p>
            Jenis pendidikan yang berfokus pada keahlian teknis ini dapat meningkatkan partisipasi dan memperkaya kompetensi angkatan kerja.
          </p>
        </div>
        <div class="col-md-2">
          <h4><a href="">Pendidikan Vokasional Upaya Tingkatkan Daya</a></h4>
          <p>
            Jenis pendidikan yang berfokus pada keahlian teknis ini dapat meningkatkan partisipasi.
          </p>
        </div>
        <div class="col-md-2">
          <h4><a href="">Pendidikan Vokasional Upaya Tingkatkan Daya Saing</a></h4>
          <p>
            Jenis pendidikan yang berfokus pada keahlian teknis ini dapat meningkatkan partisipasi dan memperkaya kompetensi angkatan kerja.
          </p>
        </div>
        <div class="col-md-2">
          <h4><a href="">Pendidikan Vokasional Upaya Tingkatkan Daya</a></h4>
          <p>
            Jenis pendidikan yang berfokus pada keahlian teknis ini dapat meningkatkan.
          </p>
        </div>
        <div class="col-md-2">
          <h4><a href="">Pendidikan Vokasional Upaya Tingkatkan Daya Saing</a></h4>
          <p>
            Jenis pendidikan yang berfokus pada keahlian teknis ini dapat meningkatkan partisipasi dan memperkaya.
          </p>
        </div>
      </div>
    </div>
  </section> -->
</div>

@@include('../Shared/footer.html')
