@import "bourbon";

/* ABSTRACTS */
@import
	'../Abstracts/variables',
	'../Abstracts/functions',
    '../Abstracts/mixins'; 
    
.subscribes-page {
    .banner-subscribe {
        position: relative;
        background-image: url('../../images/banner-subscribe.jpg');
        background-size: cover;
        width: 100%;
        height: 289px;
        &:before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            display: block;
            background: rgba(0,0,0,.5);
        }
        .banner-title {
            position: absolute;
            background: rgba(255,255,255,.71);
            width: 877px;
            top: 50%;
            left: 50%;
            text-align: center;
            transform: translate(-50%, -50%);
            @include breakpoint(mobile) {
                width: 80%;
            }
            h2{
                position: relative;
                top: -5px;
                font-family: "adelle_sansregular";
                font-size: 34px;
                padding: 30px 12px;
                line-height: 1.4em;
                @include breakpoint(mobile) {
                    padding: 20px 10px;
                    font-size: 22px;
                }
            }
        }
    }
    .subscribe-steps {
        padding: 59px 0 46px;
        .subscribe-breadcrumb {
            width: 100%;
            li {
                position: relative;
                font-family: "adelle_sansregular";
                font-size: 22px;
                text-align: center;
                display: inline-block;
                width: calc(100% / 3);
                background: #aaaaaa;
                color: white;
                padding: 20px 0;
                @include breakpoint(mobile) {
                    font-size: 1em;
                    &:not(.stepIn) {
                        display: none;
                    }
                }
                &:nth-child(1) {
                    z-index: 2;
                }
                &:nth-child(2) {
                    z-index: 1;
                }
                &:nth-child(3) {
                    z-index: 0;
                }
                &.stepIn {
                    background: #636363;
                    @include breakpoint(mobile) {
                        width: 96%;
                    }
                    &:after {
                        background: #636363;
                    }
                }
                &:after {
                    position: absolute;
                    content: '';
                    height: 40px;
                    width: 40px;
                    top: 11px;
                    right: -20px;
                    bottom: 0;
                    transform: scale(.84) rotate(45deg) skew(18deg,18deg);
                    background: #aaaaaa;
                    box-shadow: 7px -7px 10px -1px rgba(0,0,0,.25);
                    z-index: 2;
                    @include breakpoint(mobile) {
                        top: 7px;
                        transform: scale(.72) rotate(45deg) skew(18deg,18deg);
                    }
                }
            }
        }
        .tabel-paket {
            margin-top: 80px;
            margin-bottom: 80px;
            .paket-item {
                position: relative;
                padding: 35px 35px;
                border-top: 1px solid #c2c2c2;
                border-right: 1px solid #c2c2c2;
                border-bottom: 1px solid #c2c2c2;
                @include breakpoint(mobile) {
                    border-left: 1px solid #c2c2c2;
                    margin-bottom: 30px;
                }             
                &:first-child {
                    border-left: 1px solid #c2c2c2;
                }
                h3 {
                    font-family: "adelle_sansregular";
                    font-size: 24px;
                    z-index: 2;
                }
                h4 {
                    font-family: "adelle_sansbold";
                    font-size: 23px;
                    margin-bottom: 12px;
                    color: $orange;
                    z-index: 2;
                    small {
                        font-family: "adelle_sanslight";
                        font-size: 17px;
                        color: $hitam;
                    }
                }
                a.btn {
                    font-family: "adelle_sansbold";
                    font-size: 20px;
                    text-transform: uppercase;
                }
                ul {
                    text-align: left;
                    margin-top: 28px;
                    margin-left: 10px;
                    li {
                        font-size: 16px;
                        line-height: 1.6em;
                        color: #666666;
                        list-style-image: url('../../images/icons/ceklist.png');
                    }
                }
                h3, h4, small, a, ul {
                    position: relative;
                    z-index: 2;
                }
                &.special {
                    &:before {
                        position: absolute;
                        content: '';
                        display: block;
                        top: -25px;
                        left: 0;
                        width: 100%;
                        height: 110%;
                        background: white;
                        box-shadow: 0 0 25px rgba(0,0,0,.35);
                        border: 5px solid $orange;
                        z-index: 1;
                        @include breakpoint(mobile) {
                            top: 0;
                            height: 100%;
                        }
                    }
                }
            }
        }
        .faq {
            padding: 30px 15px;
            border-top: 1px solid #dddddd;
            h3 {
                font-family: "adelle_sansbold";
                font-size: 24px;
            }
            dt {
                font-family: "adelle_sansbold";
                font-size: 18px;
                margin-bottom: 22px;
            }
            dd {
                font-size: 18px;
                line-height: 1.4em;
                margin-bottom: 30px;
            }
        }
        .not-found,
        .notifikasi {
            margin: 70px auto 0;
            padding: 40px 48px;
            width: 555px;
            height: auto;
            @include breakpoint(mobile) {
                padding: 20px 25px;
                width: auto;
            }
            text-align: center;
            box-shadow: 0 0 10px rgba(0,0,0,.35);
            p {
                font-family: "adelle_sansregular";
                font-size: 18px;
                line-height: 1.4em;
                @include breakpoint(mobile) {
                    font-size: 15px;
                }
                &.lead {
                    width: 400px;
                    margin: 0 auto 25px;
                    font-size: 24px;
                    @include breakpoint(mobile) {
                        width: auto;
                        margin: 0 auto 20px;
                    }
                }
            }
        }
        .not-found {
            margin: 5px auto 20px;
            padding: 20px 25px 50px;
            p {
                &.lead {
                    width: auto;
                    margin-bottom: 10px;
                }
            }
            strong {
                margin-bottom: 35px;
                font-family: "adelle_sansextrabold";
                font-size: 170px;
                display: block;
                @include breakpoint(mobile) {
                    font-size: 9em;
                }
                @include breakpoint(small-mobile) {
                    font-size: 7em;
                }
            }
            a {
                font-family: "adelle_sansregular";
                font-size: 15px;
                padding: 10px 20px;
                border: 2px solid $orange;
                text-decoration: none;
                border-radius: 30px;
                color: $orange;
                &:hover {
                    background: $orange;
                    border-color: $orange;
                    color: white;
                }
            }            
        }
        .form-payment,
        .form-register {
            margin-top: 65px;
            > div {
                margin-bottom: 20px;
                .box-left,
                .box-center,
                .box-right {
                    padding: 20px 15px;
                    box-shadow: 0 0 10px rgba(0,0,0,.3);
                    .box-header {
                        @include clearit;
                        h3 {
                            margin-bottom: 45px;
                            display: inline-block;
                            font-family: "adelle_sansregular";
                            font-size: 24px;
                            @include breakpoint(mobile) {
                                font-size: 18px;
                                margin-bottom: 20px;
                            }
                        }
                        span {
                            font-size: 14px;
                            position: relative;
                            top: 4px;
                            float: right;
                            a {
                                font-family: "adelle_sanssemibold";
                                font-size: 14px;
                                text-transform: uppercase;
                            }
                            @include breakpoint(mobile) {
                                font-size: 12px;
                            }
                        }
                    }
                    .box-content {
                        @include clearit;
                        ul {
                            @include clearit;
                            margin-bottom: 22px;
                            @include breakpoint(mobile) {
                                margin-bottom: 13px;
                            }
                            li {
                                float: left;
                                padding: 0 4px;
                                display: inline-block;
                                width: calc(100% / 3);
                                @include breakpoint(mobile) {
                                    width: 100%;
                                    padding: 0 0 10px;
                                }
                                a {
                                    display: block;
                                    font-size: 14px;
                                    text-decoration: none;
                                    color: $hitam;
                                    border: 1px solid #aaaaaa;
                                    padding: 10px;
                                    img {
                                        position: relative;
                                        top: -5px;
                                        right: -2px;
                                        float: right;
                                    }
                                }
                                &:first-child {
                                    padding-left: 0;
                                }
                                &:last-child {
                                    padding-right: 0;
                                }
                            }
                        }
                        
                        h6 {
                            position: relative;
                            margin-bottom: 22px;
                            display: block;
                            font-family: "adelle_sansbold";
                            font-size: 12px;
                            text-transform: uppercase;
                            text-align: center;
                            z-index: 2;
                            &:before {
                                border-top: 1px solid #dddddd;
                                content:"";
                                margin: 2px auto 0; 
                                position: absolute;
                                top: 50%; left: 0; right: 0; bottom: 0;
                                transform: translateY(-50%);
                                z-index: -1;
                            }
                            span { 
                                background: #fff; 
                                padding: 0 15px; 
                            }
                        }
                        
                        .table {
                            margin-bottom: 0;
                            .duration-subscribes {
                                border: 1px solid #ddd;
                                padding: 3px 20px;
                            }
                            td {
                                vertical-align: middle;
                                line-height: 1.8em;
                                b {
                                    font-family: "adelle_sanssemibold";
                                    font-size: 14px;
                                }
                            }
                        }
                        .note-footer {
                            line-height: 1.21em;
                            > div {
                                padding: 0 15px 0 0;
                                @include breakpoint(mobile) {
                                    margin-bottom: 15px;
                                    padding: 0 0;
                                }
                                @include breakpoint(tablet) {
                                    margin-bottom: 15px;
                                    padding: 0 0;
                                }
                            }
                            margin: 0 1px;
                            @include breakpoint(mobile) {
                                margin: 0;
                            }
                            padding-top: 12px;
                            border-top: 1px solid #000000;
                            @include breakpoint(mobile) {
                                border-top: none;
                            }
                        }               
                    }
                }
            }
        }
        .form-payment {
            margin-top: 20px;
            .box-center {
                padding: 50px 80px !important;
                @include breakpoint(mobile) {
                    padding: 50px 30px 40px !important;
                }
                .box-content {
                    p {
                        margin-bottom: 2px;
                        font-size: 15px;
                        line-height: 1.4em;
                        color: $hitam;
                    }
                }
            }
        }
    }
}