      </main>
      <!-- CONTAINER -->

      <!-- FOOTER -->
      <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-12 footerLogo">
                <img src="assets/images/Logo_kd.png" alt="" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 kontak">
              <ul>
                <li><a href="">Tentang Katadata</a></li>
                <li><a href="">Hubungi Kami</a></li>
                <li><a href="">Advertising</a></li>
                <li><a href="">Pedoman Pemberitaan Media Siber</a></li>
                <li><a href="">Kesempatan Karir</a></li>
                <li>Telp: +6221 5794 0835</li>
                <li>Fax: +6221 5794 0836</li>
                <li>Email: </li>
                <li><a href="mailto:marketing.team@katadata.co.id">marketing.team@katadata.co.id</a></li>
                <li><a href="mailto:redaksi@katadata.co.id">redaksi@katadata.co.id</a></li>
              </ul>
            </div>
            <div class="col-md-9">
                <ul class="listingLink">
                  <li>
                      <h5>Katadata News</h5>
                      <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">Berita</a></li>
                        <li><a href="">Opini</a></li>
                        <li><a href="">Ekonografik</a></li>
                        <li><a href="">Telaah</a></li>
                        <li><a href="">Multimedia</a></li>
                        <li><a href="">Infomark</a></li>
                      </ul>
                  </li>
                  <li>
                      <h5>Databoks</h5>
                      <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">Statistik</a></li>
                        <li><a href="">Ekonografik</a></li>
                        <li><a href="">Tentang Databoks</a></li>
                        <li><a href="">Bantuan &amp; FAQ</a></li>
                        <li><a href="">Kebijakan Privasi</a></li>
                        <li><a href="">Disclaimer</a></li>
                        <li><a href="">Newsletter</a></li>
                      </ul>
                  </li>
                  <li>
                      <h5>Media Sosial</h5>
                      <ul class="sosmed_link">
                          <li>
                              <a href="https://twitter.com/katadatanews" target="_blank">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                              </a>
                          </li>
                          <li>
                              <a href="http://facebook.com/katadatanews" target="_blank">
                                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                              </a>
                          </li>
                          <li>
                            <a href="https://plus.google.com/+KatadataId" target="_blank">
                              <i class="fa fa-google-plus" aria-hidden="true"></i>
                            </a>
                          </li>
                      </ul>
                  </li>
                  <li>
                      <h5>Produk Lainnya</h5>
                      <ul>
                        <li><a href="">D Brief</a></li>
                      </ul>
                  </li>
                  <li>
                      <h5>D Klinik</h5>
                      <ul>
                        <li><a href="">Tax Amnesty</a></li>
                      </ul>
                  </li>
                </ul>
            </div>
          </div>
        </div>
        <div class="copyright">
          ©2017 Katadata and Hukum Online. All rights reserved.
        </div>        
      </footer>
      <!-- FOOTER -->
    </div>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="assets/js/vendor.min.js" ></script>
    <script src="assets/js/plugins.min.js" ></script>
    <script src="assets/js/app.min.js" ></script>
    
    @@if (context.script) {
      @@for(var i=0;i<script.length;i++) {
        <script src="`+script[i]+`" ></script>
      }
    }

  </body>
</html>