<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Tiga Tahun Jokowi-JK - Microsite</title>

    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="assets/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="assets/images/fasvicons/favicon-16x16.png" sizes="16x16">
    <!-- Bootstrap -->
    <link href="assets/css/vendor.min.css" rel="stylesheet">
    <link href="assets/css/plugins.min.css" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">

    @@if (context.style) {
      @@for(var i=0;i<style.length;i++) {
        <link href="`+style[i]+`" rel="stylesheet">
      }
    }

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <![endif]-->


  </head>
  <body>
    <div class="main-wrapping">

      <!-- HEADER -->
      <header class="site-header">
        <div class="top-header animated fadeInDown">
          <div class="container">
            <div class="top-left">
              <div class="humburger-btn">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
            <ul class="sosmed-share-top hidden-xs">
              <li>
                  <a href="https://twitter.com/katadatanews" target="_blank">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
              </li>
              <li>
                  <a href="http://facebook.com/katadatanews" target="_blank">
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                  </a>
              </li>
              <li>
                <a href="https://plus.google.com/+KatadataId" target="_blank">
                  <i class="fa fa-google-plus" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>

      </header>
      <nav class="navigasi">
        <ul>
          <li><a href="" class="captionMnu">3 Tahun Jokowi-JK</a></li>
          <li><a href="/">Home Katadata</a></li>
          <li><a href="#">Berita</a></li>
          <li><a href="#">Opini</a></li>
          <li><a href="#">Ekonografik</a></li>
          <li><a href="#">Databoks</a></li>
          <li><a href="#">Telah</a></li>
          <li><a href="#">Multimedia</a></li>
          <li><a href="#">Infomark</a></li>
          <li><a href="#">Indeks</a></li>
        </ul>
      </nav>

      <!-- HEADER -->


      <!-- CONTAINER -->
      <main class="site-container">
